useDynLib(survivalBIV)
importFrom("stats", glm, predict.glm, binomial)
importFrom("prodlim", Hist, prodlim)
importFrom("graphics", matplot, persp, filled.contour)
export(bivCKM, bivIPCW, bivKMPW, bivKMW, corrBIV, dgpBIV, plot.survBIV, is.survBIV, summary.survBIV, survBIV)
S3method(plot, survBIV)
S3method(summary, survBIV)
